{% extends 'base.html.twig' %}
{% block body %}
    <div class="operationRoot">
        <div class="listeClient">
            <div class="listeT">
                <div class="listeTdiv1">Liste des clients</div>
                <select>
                    <option>personne physique</option>
                    <option>personne morale</option>
                </select>
                <div class="userSearch">
                    <div><img src="{{ asset('search.svg') }}"/></div>

                    <input type="'text" placeholder="Rechercher un client">
                </div>
            </div>
            <div>
                <div class="client">
                    <div class="clientIcon">
                        <img src="{{ asset('client.svg') }}"/>
                    </div>
                    <div class="clientInf">
                        <div>Francis OLODO</div>
                        <div>96 83 26 03</div>
                    </div>
                </div>
                <div class="client">
                    <div class="clientIcon">
                        <img src="{{ asset('client.svg') }}"/>
                    </div>
                    <div class="clientInf">
                        <div>Francis OLODO</div>
                        <div>96 83 26 03</div>
                    </div>
                </div>
                <div class="client">
                    <div class="clientIcon">
                        <img src="{{ asset('client.svg') }}"/>
                    </div>
                    <div class="clientInf">
                        <div>Francis OLODO</div>
                        <div>96 83 26 03</div>
                    </div>
                </div>
                <div class="client">
                    <div class="clientIcon">
                        <img src="{{ asset('client.svg') }}"/>
                    </div>
                    <div class="clientInf">
                        <div>Francis OLODO</div>
                        <div>96 83 26 03</div>
                    </div>
                </div>
                <div class="client">
                    <div class="clientIcon">
                        <img src="{{ asset('client.svg') }}"/>
                    </div>
                    <div class="clientInf">
                        <div>Francis OLODO</div>
                        <div>96 83 26 03</div>
                    </div>
                </div>
                <div class="client">
                    <div class="clientIcon">
                        <img src="{{ asset('client.svg') }}"/>
                    </div>
                    <div class="clientInf">
                        <div>Francis OLODO</div>
                        <div>96 83 26 03</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="operation">
            <div class="initOperation">
                <div class="operationTitle">Information du client</div>
                <div class="infoClient">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}